<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<body>

<nav th:fragment="nav" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">HWTM</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">See Quizzes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">See All Player</a>
                </li>
            </ul>
            <!--
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            -->
        </div>

        <a class="btn btn-outline-success" type="submit" th:href="@{/game}">Start</a>
        <a class="btn btn-outline-success" th:href="@{/}">Login</a>
        <a class="btn btn-outline-success" th:href="@{/}">Register</a>

    </div>
</nav>

</body>
</html>