<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajax in Spring boot</title>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
      $("#buttonDemo1").click(function() {
        $.ajax({
          type: "GET",
          url: "/api/ajaxrest/demo1",
          success: function(result) {
            $("#result1").text(result);
          }
        })
      })

      $("#buttonDemo2").click(function() {
        var fullName = $("#fullName").val();
        $.ajax({
          type: "GET",
          url: "/api/ajaxrest/demo2/"+ fullName,
          success: function(result) {
            $("#result2").text(result);
          }
        })
      })
    
    })
</script>
</head>
<body>

  <fieldset>
    <legend> Demo 1</legend>
    <input type="button" value="Demo 1" id="buttonDemo1" />
    <br />
    <span id="result1"></span>
  </fieldset>

  <fieldset>
    <legend> Demo 2</legend>
    Full name <input type="text" id="fullName" />
    <br />
    <input type="button" value="Demo 2" id="buttonDemo2" />
    <span id="result2"></span>
  </fieldset>

</body>
</html>