<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <link th:href ="@{/css/bootstrap.css}" rel="stylesheet">
  <title>Quiz</title>
</head>
<body>
<h1>Quiz</h1>
<p>Hier beginnt das Quiz!</p>


<div th:object="${quiz}">
  <h1> [[${quiz.quizText}]] </h1>
</div>

----------------------------------------------------------

<div th:object="${option1}">
  <button onclick="check()"/> [[${option1.optionText}]] </button>

</div>

<div th:object="${option2}">
  <button onclick="check()"> [[${option2.optionText}]] </button>

</div>

<div th:object="${option3}">
  <button onclick="check()"> [[${option3.optionText}]] </button>

</div>

<div th:object="${option4}">
  <button onclick="check()"> [[${option4.optionText}]] </button>

<div id="main"></div>

<script th:inline="javascript">

/*<![CDATA[*/

var listVal =/*[[${myList}]]*/ "Test";

/*]]>*/


function check() {
  window.onclick = e => {
    if (e.target.innerText == "Russland") {
      alert("richtig");
  } else { alert("falsch");
  }
}
}

check()




</script></div>
</body>
</html>