<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Java Inspires</title>
</head>
<body>

 <h1>Sign Up here...</h1>
 <br>
 <hr>

 <form th:action="@{/signup}" th:object="${signupForm}" method="post">

  <p>
   First Name : <input type="text" name="firstName" />
  </p>
  <p>
   Last Name : <input type="text" name="lastName" />
  </p>
  <p>
   Email Id : <input type="email" name="emailId" />
  </p>
  <p>
   Password : <input type="password" name="password" />
  </p>
  <p>
   <input type="submit" value="Sign Up" />
 </form>
</body>
</html>
